* {
    padding: 0;
    margin: 0;
    background-color:antiquewhite;
}

#heading {
    font-size: 30px;
    text-align: center;
    color:mediumslateblue;
    margin-top: 30px;
}

#number {
    text-align: center;
    margin-top: 40px;
    font-size: 80px;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    margin-top: 80px;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    background-color: mediumslateblue;
    color: antiquewhite;
}

#ending {
    text-align: center;
    font-style: italic;
    margin-top: 120px;
    color:mediumpurple;
}
